body {
	font-size: 1.5em;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

main {
	margin: 0.5em;
}

input,
.unit {
	display: inline-block;
	line-height: 1.5;
	padding: 1em;
	margin: 0.5em 0;
	font-size: inherit;
	vertical-align: middle;
}

input {
	border: 1px solid #ccc;
	width: 6em;
	border-radius: 0.2em 0 0 0.2em;
}

.unit {
	border: 1px solid #ccc;
	border-left: 0;
	border-radius: 0 0.2em 0.2em 0;
	background-color: #eee;
	color: #555;
}
