body {
	text-align: center;
	font-family: sans-serif;
	font-weight: 200;
	margin: 0;
	font-size: 2em;
	background-color: #333;
	color: #bbb;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

input {
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #444;
	background-color: #222;
	color: inherit;
	padding: 1em;
	font-size: inherit;
	cursor: pointer;
	border-radius: 0.3em;
	width: 3em;
}
