body {
	font-family: sans-serif;
	font-size: 1.6em;
	color: #222;
	margin: 1em;
	line-height: 1.5;
}

@media screen and (max-width: 40em) {
	body {
		font-size: 1.3em;
	}
}

ul {
	list-style: none;
	border: 1px solid #ddd;
	padding: 0;
	border-radius: 0.3em;
}

li {
	padding: 0.5em 1em;
}

li:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

label {
	display: block;
}

select {
	font-size: inherit;
	appearance: none;
	border: none;
	border: 1px solid #ddd;
	padding: 0.5em 2.3em 0.5em 1em;
	border-radius: 0.3em;
	background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='222222'/></g></svg>")
		center right 1em no-repeat;
}

input[type="checkbox"] {
	height: 2em;
	width: 2em;
	margin-right: 1em;
}

input[type="text"] {
	font-size: inherit;
	border: 1px solid #ccc;
	padding: 0.5em 1em;
	margin: 0;
	border-radius: 0.3em 0 0 0.3em;
}

input[type="submit"] {
	font-size: inherit;
	border: 1px solid #ccc;
	border-left: 0;
	background-color: #ddd;
	padding: 0.5em 1em;
	margin: 0;
	border-radius: 0 0.3em 0.3em 0;
	appearance: none;
}

input[type="submit"]:focus {
	background-color: #aaa;
}

@media screen and (max-width: 40em) {
	input[type="text"] {
		width: 100%;
		box-sizing: border-box;
		border-radius: 0.3em 0.3em 0 0;
	}
	input[type="submit"] {
		width: 100%;
		border: 1px solid #ccc;
		border-top: 0;
		border-radius: 0 0 0.3em 0.3em;
	}
}
